* {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, '\5B5B\4F53', sans-serif;
  list-style: none;
  font-size: large;
  text-decoration-line: none;
  color: aliceblue;
}
